name: Main and pull request checks
on:
  push:
    branches: [ 2.x ]
  pull_request:
    branches: [ 2.x ]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 11, 17, 21, 23 ]
        runs-on: [ubuntu-latest]
    name: Build on ${{ matrix.runs-on }} with jdk ${{ matrix.java-version }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: gradle
      - name: Build with Gradle
        run: ./gradlew clean check
